config CALIXTO_DEXCEL_GPIO_DRIVER_SUPPORT
	bool "GPIO Driver Support for Dexcel Viper Board"
	default y
	depends on CALIXTO_PHERIPHERAL_CONFIGURATION
	help
	Choose Y to Enable GPIO Driver for
	Calixto Dexcel Viper Board
